# Java
*.class
*.jar
*.war
*.ear
*.iml

# Maven
**/target/

# Gradle
**/build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables (sensitive data)
.env
.env.local
.env.*.local

# STS / Eclipse build output
**/bin/

# Gradle cache/output (optional)
.gradle/