server:
  port: ${SERVER_PORT:8082}

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/energy_db}
    username: ${DB_USER:ems}
    password: ${DB_PASSWORD:ems}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

jwt:
  secret: ${JWT_SECRET:dev-secret-change}

upstream:
  auth-service-url: ${AUTH_SERVICE_URL:http://localhost:8081}
